<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/jqgrid/ui.jqgrid-bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/plugins/layDate-v5.0.9/laydate/layui.css}">
    <script th:src="@{/libs/jquery.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/libs/bootstrap.min.js}"></script>
    <script th:src="@{/libs/vue.min.js}"></script>
    <script th:src="@{/plugins/jqgrid/grid.locale-cn.js}"></script>
    <script th:src="@{/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/plugins/layDate-v5.0.9/laydate/laydate.js}"></script>
    <title>【系统公告页面】></title>
</head>
<body>
<div id="notices" v-cloak>
    <div>
    <div class="grid-btn">
        <a class="btn btn-primary" @click="query" ><i class="fa fa-search"></i>全部公告</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" @click="add" ><i class="fa fa-plus"></i>&nbsp;新增公告</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" @click="update" ><i class="fa fa-pencil-square-o"></i>&nbsp;更新公告</a>
    </div>
        <div v-show="showPanel" class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">公告标题</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="noticeTitle"  placeholder="输入公告标题"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">公告内容</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="noticeContent"  placeholder="请输入公告内容"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">公告排序</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="noticeOrder"  placeholder="请输入公告排序号"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">公告状态</div>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" v-model="noticeStatus"/> 正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" v-model="noticeStatus"/> 弃用
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">新增时间</div>
                    <div class="col-sm-10">
                        <input id="noticeCreateTime" type="text" :disabled="disabled" class="form-control" v-model="noticeCreateTime" placeholder="请选择公告新增时间"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">更新时间</div>
                    <div class="col-sm-10">
                        <input id="noticeUpdateTime" type="text" class="form-control" v-model="noticeUpdateTime"   placeholder="请选择公告更新时间"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-success" ref="saveDom" @click="saveNotice"  value="新增"/>
                    &nbsp;&nbsp;
                    <input type="button" class="btn btn-primary" ref="updateDom" @click="updateNotice"  value="更新"/>
                    &nbsp;&nbsp;
                    <input type="button" class="btn btn-warning" value="返回" @click="reset" />
                </div>
            </form>
        </div>
        <hr style="border:1px solid lightseagreen;border-radius: 5px;"/>
        <!-- 查询结果表格-->
        <table id="jqGrid" class="table table-striped" style="text-align: center;">
            <div id="jqGridPager"></div>
        </table>
    </div>
</div>
<script>
        var vm =new Vue({
            el:"#notices",
            data:{
                showPanel: false,
                title: '',
                disabled: false,
                noticeId: '',
                noticeTitle: '',
                noticeContent: '',
                noticeStatus: 1,
                noticeOrder: 1,
                noticeCreateTime: '',
                noticeUpdateTime: ''
            },
            mounted(){
                var mountedTime = this;
                laydate.render({
                    elem: '#noticeCreateTime',
                    type: 'datetime',
                    // 控件选择完毕后的回调函数
                    done: function(noticeCreateTime){
                        mountedTime.noticeCreateTime=noticeCreateTime;
                    }
                });
                laydate.render({
                    elem: '#noticeUpdateTime',
                    type: 'datetime',
                    done: function(noticeUpdateTime){
                        mountedTime.noticeUpdateTime=noticeUpdateTime;
                    }
                });
            },
            methods:{
                query: function(event){
                    $(function () {
                        $("#jqGrid").jqGrid({
                            url: '../sys/notice/list',
                            datatype: "json",
                            colModel: [
                                {label: 'id', name: 'noticeId', width: 30, key: true},
                                {label: '公告标题', name: 'noticeTitle', width: 50},
                                {label: '公告内容', name: 'noticeContent', width: 50},
                                {label: '公告状态', name: 'noticeStatus', width: 60,formatter: function(value, options, row){
                                        return value ===0 ?
                                            '<span class="label label-danger">弃用</span>' :
                                            '<span class="label label-success">正常</span>';}},
                                {label: '新增时间', name: 'noticeCreateTime', width: 90},
                                {label: '更新时间', name: 'noticeUpdateTime', width: 90}
                            ],
                            viewrecords: true,
                            height: 385,
                            width: 800,
                            rowNum: 10,
                            rowList: [10, 30, 50],
                            rownumbers: true,
                            rownumWidth: 25,
                            autowidth: true,
                            multiselect: true,
                            pager: "#jqGridPager",
                            jsonReader: {
                                root: "page.list",
                                page: "page.currPage",
                                total: "page.totalPage",
                                records: "page.totalCount"
                            },
                            prmNames: {
                                page: "page",
                                rows: "limit",
                                order: "order"
                            },
                            gridComplete: function () {
                                //隐藏grid底部滚动条
                                $("#jqGrid").closest(".ui-jqgrid-bdiv").css({"overflow-x": "hidden"});
                            }
                        });
                        // 重新加载数据
                        $("#jqGrid").jqGrid('clearGridData');
                        $("#jqGrid").jqGrid('setGridParam', {
                            url: '../sys/notice/list',
                            datatype: "json",
                            page: 1
                        }).trigger("reloadGrid");
                    });
                },
                add: function(event){
                    vm.title='新增公告';
                    vm.showPanel=!(vm.showPanel);
                    this.$refs.updateDom.style.display='none';
                    this.$refs.saveDom.style.display='inline';
                },
                update: function(event){
                    vm.title='更新公告';
                    var noticeId=getSelectedRow();
                    if(noticeId==''||noticeId==null){
                        return ;
                    }
                    vm.showPanel=!(vm.showPanel);
                    vm.disabled=true;
                    this.$refs.saveDom.style.display='none';
                    this.$refs.updateDom.style.display='inline';
                    var rowData = $("#jqGrid").jqGrid('getRowData',noticeId);
                    vm.noticeId=rowData.noticeId;
                    vm.noticeTitle=rowData.noticeTitle;
                    vm.noticeContent=rowData.noticeContent;
                    vm.noticeOrder=1;
                    vm.noticeStatus=1;
                    vm.noticeCreateTime=rowData.noticeCreateTime;
                    vm.noticeUpdateTime=rowData.noticeUpdateTime;
                },
                saveNotice: function(event){
                    $.ajax({
                        type: 'POST',
                        url: '../sys/notice/save',
                        dataType: 'JSON',
                        contentType:"application/json;charset=utf-8",
                        data:JSON.stringify({"noticeTitle":vm.noticeTitle,"noticeContent":vm.noticeContent,"noticeStatus":vm.noticeStatus,"noticeOrder":vm.noticeOrder,"noticeCreateTime":vm.noticeCreateTime,"noticeUpdateTime":vm.noticeUpdateTime}),
                        success:function(result){
                            if(result.code ==0 ) {
                                layer.open({
                                    type: 0,
                                    title: '公告新增提示信息!',
                                    content: '新增公告成功!'
                                });
                                vm.showPanel=!(vm.showPanel);
                            } else{
                                layer.open({
                                    type: 0,
                                    title: '公告新增提示信息!',
                                    content: result.msg
                                });
                                vm.showPanel=!(vm.showPanel);
                            }
                        }
                    });
                },
                updateNotice: function(event){
                    $.ajax({
                        type: 'POST',
                        url: '../sys/notice/update',
                        dataType: 'JSON',
                        contentType:"application/json;charset=utf-8",
                        data:JSON.stringify({"noticeId":vm.noticeId,"noticeTitle":vm.noticeTitle,"noticeContent":vm.noticeContent,"noticeStatus":vm.noticeStatus,"noticeOrder":vm.noticeOrder,"noticeCreateTime":vm.noticeCreateTime,"noticeUpdateTime":vm.noticeUpdateTime}),
                        success:function(result){
                            if(result.code ==0 ) {
                                layer.open({
                                    type: 0,
                                    title: '公告更新提示信息!',
                                    content: '更新公告成功!'
                                });
                                vm.showPanel=!(vm.showPanel);
                            } else{
                                layer.open({
                                    type: 0,
                                    title: '公告更新提示信息!',
                                    content: result.msg
                                });
                            }
                        }
                    });
                },
                reset: function(event){
                    vm.showPanel=!(vm.showPanel);
                }
            }
        });
</script>
</body>
</html>