<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.eims.mapper.assets.AssetsCategoryMapper">

     <select id="categoryGroup" resultType="AssetsCount">
         SELECT large_category,COUNT(large_category) AS  categoryCount FROM assets GROUP BY large_category;
     </select>
</mapper>