<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/jqgrid/ui.jqgrid-bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/plugins/layDate-v5.0.9/laydate/layui.css}">
    <script th:src="@{/libs/jquery.min.js}"></script>
    <script th:src="@{/libs/highcharts.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/libs/bootstrap.min.js}"></script>
    <script th:src="@{/libs/vue.min.js}"></script>
    <script th:src="@{/plugins/jqgrid/grid.locale-cn.js}"></script>
    <script th:src="@{/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/plugins/layDate-v5.0.9/laydate/laydate.js}"></script>
    <title>【资产类目】</title>
</head>
<body>
<div id="assetsCategory" v-cloak>
    <div>
        <div class="grid-btn">
            <a class="btn btn-primary" @click="largeQuery"><i class="fa fa-search"></i>全部类目查询</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" @click="addCategory"><i class="fa fa-plus"></i>新增类目</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" @click="chartShow"><i class="fa fa-map" aria-hidden="true">类目图表</i></a>
        </div>
    </div>
            <hr style="border:1px solid lightseagreen;border-radius: 5px;"/>
        <div v-show="showPanel" id="showPanel" class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <form class="form-horizontal" >
                <div class="form-group">
                    <div class="col-sm-2 control-label">资产大类</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="largeCategory" placeholder="输入资产大类"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">资产小类</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="smallCategory" placeholder="请输入资产小类"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">资产状态</div>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" v-model="status"/> 可用
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" v-model="status"/> 弃用
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">新增时间</div>
                    <div class="col-sm-10">
                        <input id="createTime" type="text" class="form-control" v-model="createTime"  placeholder="请选择资产新增时间"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">更新时间</div>
                    <div class="col-sm-10">
                        <input id="updateTime" type="text" class="form-control" v-model="updateTime"  placeholder="请选择资产更新时间"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-primary" @click="save" value="确定"/>
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reset" value="返回"/>
                </div>
            </form>
            </div>
    <div id="container" style="width: 550px; height: 450px; margin: 0 auto"></div>
        <!-- 查询结果表格-->
        <table id="jqGrid" class="table table-striped" style="text-align: center;">
            <div id="jqGridPager"></div>
        </table>
    </div>
      <script>
          var vm = new Vue({
              el: '#assetsCategory',
              data: {
                  title:'',
                  showPanel:false,
                  largeCategory:'',
                  smallCategory:'',
                  status:1,
                  createTime:'',
                  updateTime:''
              },
              mounted(){
                  var mountedTime = this;
                  laydate.render({
                      elem: '#createTime',
                      type: 'datetime',
                      // 控件选择完毕后的回调函数
                      done: function(createTime){
                          mountedTime.createTime=createTime;
                      }
                  });
                  laydate.render({
                      elem: '#updateTime',
                      type: 'datetime',
                      done: function(updateTime){
                          mountedTime.updateTime=updateTime;
                      }
                  });
              },
              methods: {
                  chartShow: function(event) {
                     var chart = new Highcharts.Chart({
                          //常规图表选项设置
                          chart: {
                              renderTo: 'container',        //在哪个区域呈现，对应HTML中的一个元素ID
                              plotBackgroundColor: null,    //绘图区的背景颜色
                              plotBorderWidth: null,        //绘图区边框宽度
                              plotShadow: false            //绘图区是否显示阴影
                          },
                         // 禁用HighCharts的版权
                          credits: {
                             enabled: false
                          },
                         //图表的主标题
                          title: {
                              text: '臻善企业信息管理系统资产类目展示图表',
                              style: {
                                  color: "#A52A2A",
                                  fontSize: "20px",
                                  fontWeight: "bold"
                              }
                          },
                          //当鼠标经过时的提示设置
                          tooltip: {
                              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
                              percentageDecimals: 1
                          },
                          //每种图表类型属性设置
                          plotOptions: {
                              //饼状图
                              pie: {
                                  allowPointSelect: true,
                                  cursor: 'pointer',
                                  dataLabels: {
                                      enabled: true,
                                      color: '#000000',
                                      connectorColor: '#000000',
                                      formatter: function() {
                                          //Highcharts.numberFormat(this.percentage,2)格式化数字，保留2位精度
                                          return '<b>'+ this.point.name +'</b>: '+Highcharts.numberFormat(this.percentage,2) +' %';
                                      }
                                  },
                                  // 展示颜色图例
                                  showInLegend: true
                              }
                          },
                          //图表要展现的数据
                          series: [{
                              type: 'pie',
                              name: '占比'
                          }]
                      });
                         $.ajax({
                             type:"POST" ,
                             url:"../assets/charts/assets",
                             dataType:"JSON",
                             success:function(data){
                                 // 定义一个存储结果数组
                                 var largeCategory=[];
                                 // 遍历List对象
                                 $.each(data, function(i, assetsList){
                                     largeCategory.push([assetsList.largeCategory,assetsList.categoryCount]);
                                 });
                                 // 填充数据.
                                 chart.series[0].setData(largeCategory);
                             }
                         });
                  },
                  largeQuery: function(event){
                      // 使用前端分页插件jqGrid来实现查询.
                      $(function () {
                          $("#jqGrid").jqGrid({
                              url: '../assets/search/category',
                              datatype: "json",
                              colModel: [
                                  {label: 'id', name: 'assetsId', width: 30, key: true},
                                  {label: '资产大类', name: 'largeCategory', width: 50},
                                  {label: '资产小类', name: 'smallCategory', width: 50, align: 'center'},
                                  {label: '资产状态', name: 'status', width: 60,formatter: function(value, options, row){
                                          return value ===0 ?
                                              '<span class="label label-danger">弃用</span>' :
                                              '<span class="label label-success">可用</span>';}},
                                  {label: '新增时间', name: 'createTime', width: 70},
                                  {label: '更新时间', name: 'updateTime', width: 70}
                              ],
                              viewrecords: true,
                              height: 385,
                              width: 800,
                              rowNum: 10,
                              rowList: [10, 30, 50],
                              rownumbers: true,
                              rownumWidth: 25,
                              autowidth: true,
                              multiselect: false,
                              pager: "#jqGridPager",
                              jsonReader: {
                                  root: "page.list",
                                  page: "page.currPage",
                                  total: "page.totalPage",
                                  records: "page.totalCount"
                              },
                              prmNames: {
                                  page: "page",
                                  rows: "limit",
                                  order: "order"
                              },
                              gridComplete: function () {
                                  //隐藏grid底部滚动条
                                  $("#jqGrid").closest(".ui-jqgrid-bdiv").css({"overflow-x": "hidden"});
                              }
                          });
                          // 重新加载数据
                          $("#jqGrid").jqGrid('clearGridData');
                          $("#jqGrid").jqGrid('setGridParam', {
                              url: '../assets/search/category',
                              datatype: "json",
                              page: 1
                          }).trigger("reloadGrid");
                      });
                  },
                  // 新增面板
                  addCategory: function(event){
                       vm.showPanel=!(vm.showPanel);
                       vm.title="新增";
                  },
                  save: function(event){
                       // ajax提交
                      $.ajax({
                          type:'POST',
                          url:'../assets/save/category',
                          dataType: 'JSON',
                          contentType:"application/json;charset=utf-8",
                          data:JSON.stringify({"largeCategory":vm.largeCategory,"smallCategory":vm.smallCategory,"status":vm.status,"createTime":vm.createTime,"updateTime":vm.updateTime}),
                          success: function(result){
                               if(result.code ==0 ){
                                   layer.open({
                                       type: 0,
                                       title: '资产类目提示信息!',
                                       content: '新增类目成功!'
                                   });
                                   // 关闭新增窗口
                                   vm.showPanel=!(vm.showPanel);
                               }else{
                                   layer.open({
                                       type: 0,
                                       title: '资产类目提示信息!',
                                       content: result.msg
                                   });
                                   vm.showPanel=!(vm.showPanel);
                               }
                          }
                      });
                  },
                  reset: function(event){
                      vm.showPanel=!(vm.showPanel);
                  }
              }
          })
      </script>
</body>
</html>