<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/jqgrid/ui.jqgrid-bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/plugins/layDate-v5.0.9/laydate/layui.css}">
    <script th:src="@{/libs/jquery.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/libs/bootstrap.min.js}"></script>
    <script th:src="@{/libs/vue.min.js}"></script>
    <script th:src="@{/plugins/jqgrid/grid.locale-cn.js}"></script>
    <script th:src="@{/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/plugins/layDate-v5.0.9/laydate/laydate.js}"></script>
    <title>【资产查询页面】</title>
    <style type="text/css">
        .logDate{
            width:150px;
            height:32px;
            border: 2px solid #337ab7;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="assets" v-cloak>
    <div>
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="category"  placeholder="根据资产类目查询">
            </div>
            <a class="btn btn-primary" @click="conditionalQuery"><i class="fa fa-search"></i>条件查询</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>查询全部</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="date" class="logDate" id="startDate"  v-model="startDate" placeholder="请选择开始时间">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="date" class="logDate" id="endDate"  v-model="endDate" placeholder="请选择截止时间">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" @click="dateQuery"><i class="fa fa-search"></i>时段查询</a>
            <hr style="border:1px solid lightseagreen;border-radius: 5px;"/>
        </div>
        <!-- 查询结果表格-->
        <table id="jqGrid" class="table table-striped" style="text-align: center;">
            <div id="jqGridPager"></div>
        </table>
    </div>
</div>
<script>
       var vm=new Vue({
          el:"#assets",
          data: {
              category: "",
              startDate: '',
              endDate: ''
          },
          mounted(){
              var mountedDate = this;
              laydate.render({
                  elem: '#startDate',
                  type: 'datetime',
                  // 控件选择完毕后的回调函数
                  done: function(startDate){
                      mountedDate.startDate=startDate;
                  }
              });
              laydate.render({
                  elem: '#endDate',
                  type: 'datetime',
                  done: function(endDate){
                      mountedDate.endDate=endDate;
                  }
              });
          },
           mounted(){
               var mountedDate = this;
               laydate.render({
                   elem: '#startDate',
                   type: 'datetime',
                   // 控件选择完毕后的回调函数
                   done: function(startDate){
                       mountedDate.startDate=startDate;
                   }
               });
               laydate.render({
                   elem: '#endDate',
                   type: 'datetime',
                   done: function(endDate){
                       mountedDate.endDate=endDate;
                   }
               });
           },
           methods: {
               query: function (event) {
                   // 使用前端分页插件jqGrid来实现查询.
                   $(function () {
                       $("#jqGrid").jqGrid({
                           url: '../assets/search/list',
                           datatype: "json",
                           colModel: [
                               {label: 'id', name: 'assInforId', width: 30, key: true},
                               {label: '资产大类', name: 'largeCategory', width: 50},
                               {label: '资产小类', name: 'smallCategory', width: 50, align: 'center'},
                               {label: '资产名称', name: 'assInforName', width: 60},
                               {label: '资产数量(个)', name: 'assInforNum', width: 60},
                               {label: '资产单价(元)', name: 'assInforPrice', width: 60},
                               {label: '资产备注', name: 'assInforRemark', width: 70},
                               {label: '资产状态', name: 'assInforStatus', width: 60,formatter: function(value, options, row){
                                       return value ===0 ?
                                           '<span class="label label-danger">弃用</span>' :
                                           '<span class="label label-success">可用</span>';}},
                               {label: '新增时间', name: 'assCreateTime', width: 90},
                               {label: '更新时间', name: 'assUpdateTime', width: 90}
                           ],
                           viewrecords: true,
                           height: 385,
                           width: 800,
                           rowNum: 10,
                           rowList: [10, 30, 50],
                           rownumbers: true,
                           rownumWidth: 25,
                           autowidth: true,
                           multiselect: false,
                           pager: "#jqGridPager",
                           jsonReader: {
                               root: "page.list",
                               page: "page.currPage",
                               total: "page.totalPage",
                               records: "page.totalCount"
                           },
                           prmNames: {
                               page: "page",
                               rows: "limit",
                               order: "order"
                           },
                           gridComplete: function () {
                               //隐藏grid底部滚动条
                               $("#jqGrid").closest(".ui-jqgrid-bdiv").css({"overflow-x": "hidden"});
                           }
                       });
                       // 重新加载数据
                       $("#jqGrid").jqGrid('clearGridData');
                       $("#jqGrid").jqGrid('setGridParam', {
                           url: '../assets/search/list',
                           datatype: "json",
                           page: 1
                       }).trigger("reloadGrid");
                   });
               },
               // 条件查询
               conditionalQuery: function (event) {
                   $(function () {
                       $("#jqGrid").jqGrid({
                           url: '../assets/search/condition',
                           datatype: "json",
                           postData: {category: vm.category},
                           colModel: [
                               {label: 'id', name: 'assInforId', width: 30, key: true},
                               {label: '资产大类', name: 'largeCategory', width: 50},
                               {label: '资产小类', name: 'smallCategory', width: 50, align: 'center'},
                               {label: '资产名称', name: 'assInforName', width: 60},
                               {label: '资产数量(个)', name: 'assInforNum', width: 60},
                               {label: '资产单价(元)', name: 'assInforPrice', width: 60},
                               {label: '资产备注', name: 'assInforRemark', width: 70},
                               {label: '资产状态', name: 'assInforStatus', width: 60,formatter: function(value, options, row){
                                       return value ===0 ?
                                           '<span class="label label-danger">弃用</span>' :
                                           '<span class="label label-success">可用</span>';}},
                               {label: '新增时间', name: 'assCreateTime', width: 90},
                               {label: '更新时间', name: 'assUpdateTime', width: 90}
                           ],
                           viewrecords: true,
                           height: 385,
                           width: 800,
                           rowNum: 10,
                           rowList: [10, 30, 50],
                           rownumbers: true,
                           rownumWidth: 25,
                           autowidth: true,
                           multiselect: false,
                           pager: "#jqGridPager",
                           jsonReader: {
                               root: "page.list",
                               page: "page.currPage",
                               total: "page.totalPage",
                               records: "page.totalCount"
                           },
                           prmNames: {
                               page: "page",
                               rows: "limit",
                               order: "order"
                           },
                           gridComplete: function () {
                               //隐藏grid底部滚动条
                               $("#jqGrid").closest(".ui-jqgrid-bdiv").css({"overflow-x": "hidden"});
                           }
                       });
                       // 重新加载数据
                       $("#jqGrid").jqGrid('clearGridData');
                       $("#jqGrid").jqGrid('setGridParam', {
                           url: '../assets/search/condition',
                           datatype: "json",
                           postData: {category: vm.category},
                           page: 1
                       }).trigger("reloadGrid");
                   });
               },
               // 时间段查询
               dateQuery: function (event) {
                   // 时间段判断.
                   if(vm.startDate==null||vm.startDate==''){
                       layer.open({
                           type: 0,
                           title: '资产信息错误提示!',
                           content: '开始时间不能为空哟!'
                       });
                       return ;
                   }
                   if(vm.endDate==null||vm.endDate==''){
                       layer.open({
                           type: 0,
                           title: '资产信息错误提示!',
                           content: '截止时间不能为空哟!'
                       });
                       return ;
                   }
                   $(function () {
                       $("#jqGrid").jqGrid({
                           url: '../assets/search/date',
                           datatype: "json",
                           postData: {startDate: vm.startDate, endDate: vm.endDate},
                           colModel: [
                               {label: 'id', name: 'assInforId', width: 30, key: true},
                               {label: '资产大类', name: 'largeCategory', width: 50},
                               {label: '资产小类', name: 'smallCategory', width: 50, align: 'center'},
                               {label: '资产名称', name: 'assInforName', width: 60},
                               {label: '资产数量(个)', name: 'assInforNum', width: 60},
                               {label: '资产单价(元)', name: 'assInforPrice', width: 60},
                               {label: '资产备注', name: 'assInforRemark', width: 70},
                               {label: '资产状态', name: 'assInforStatus', width: 60,formatter: function(value, options, row){
                                       return value ===0 ?
                                           '<span class="label label-danger">弃用</span>' :
                                           '<span class="label label-success">可用</span>';
                                   }},
                               {label: '新增时间', name: 'assCreateTime', width: 90},
                               {label: '更新时间', name: 'assUpdateTime', width: 90}
                           ],
                           viewrecords: true,
                           height: 385,
                           width: 800,
                           rowNum: 10,
                           rowList: [10, 30, 50],
                           rownumbers: true,
                           rownumWidth: 25,
                           autowidth: true,
                           multiselect: false,
                           pager: "#jqGridPager",
                           jsonReader: {
                               root: "page.list",
                               page: "page.currPage",
                               total: "page.totalPage",
                               records: "page.totalCount"
                           },
                           prmNames: {
                               page: "page",
                               rows: "limit",
                               order: "order"
                           },
                           gridComplete: function () {
                               //隐藏grid底部滚动条
                               $("#jqGrid").closest(".ui-jqgrid-bdiv").css({"overflow-x": "hidden"});
                           }
                       });
                       // 重新加载数据
                       $("#jqGrid").jqGrid('clearGridData');
                       $("#jqGrid").jqGrid('setGridParam', {
                           url: '../assets/search/date',
                           datatype: "json",
                           postData: {startDate: vm.startDate, endDate: vm.endDate},
                           page: 1
                       }).trigger("reloadGrid");
                   });
               }
           }
       });
</script>
</body>
</html>